footer {
    width: 100%;
}

    footer h1 {
        margin-bottom: 30px;
        padding: 30px;
        padding-left: 40%;
        color: #FFFFFF;
        font-size: 1.5rem;
        background-color: #0E7AC4;
        margin-bottom: 30px;
    }

main h2 {
    padding-left: 40%;
    color: #FFFFFF;
    background-color: #58BE89;
}

.Border {
    margin: 30px 30px;
    padding: 20px;
    border: medium solid black;
}
